# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\www\work\IIKO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
